body {
    background-color: #fffcf4
}
.pageup{
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    bottom: 7px;
    right: 7px;
    opacity: 0.5;
    z-index: 3;
}
@import "blocks/variables";
@import "blocks/navigation";
@import "blocks/promo";
@import "blocks/service";
@import "blocks/team";
@import "blocks/portfolio";
@import "blocks/price";
@import "blocks/contact";
@import "blocks/modal";
@import "blocks/footer";
@import "blocks/media";

