@media (max-width:1201px){
    .service {
        &__wrapper {
            justify-content: space-around;
        }
    }
    .team__items {
        flex-wrap: wrap;
    }
    .price__items{
        flex-wrap: wrap;
    }
    .contact__form {
        margin-left: 140px;
        textarea {
            width: 600px;
        }
        input[type="submit"] {
            margin-left: 200px;
        }
    }
}
@media (max-width:993px){
    .promo {
        &__descr {
            margin-right: 5px;
            font-size: 16px;
        }
    }
    .team {
        &__hover {
            width: 269px;
        }
        &__item {
            margin-top: 5px;
        }
    }
    .portfolio {
        margin-top: 125px;
    }
    .price__item {
        width: 180px;
    }
    .price__btn {
        margin: 60px 35px;
    }
    
}
@media (max-width:769px) {
    .header {
        &__logo {
            img {
                max-width: 100px;
                
            }
        }
    }
    .promo {
        &__title {
            font-size: 40px;
        }
        &__descr {
            font-size: 13px;
        }
    }.portfolio {
        margin-top: 143px;
    }
    .price__items {
        flex-wrap: wrap;
    }
    .contact__form {
        margin-left: 45px;
        textarea {
            width: 500px;
        }
        input[type="submit"] {
            margin-left: 150px;
        }
    }
    .footer__about {
        width: 135px;
        font-size: 12px;
    }

    .modal-order {
        width: 100%;
        form{
            input {
                width: 100%;
            }
        }

    }
}
@media (max-width:577px){
    .header {
        &__logo {
            position: absolute;
            right: 10px;
        }
        &__menu {
            display: block;
            position: absolute;
            left: 10px;
            font-family: 'Exo', sans-serif;
            font-size: 35px;
            color: #fffcf4;
            cursor: pointer;
            &:hover {
                color: $main-color;
            }
        }
        &__close {
            display: none;
            position: fixed;
            top: 10px;
            left: 0;
            font-size: 41px;
            line-height: 21px;
            color: $main-color;
            cursor: pointer;
            z-index: 2;
        }

    }
    .navigation {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.7);
        transition: all 0.6s;
        &__item {
            line-height: 3;
        }
        &_active {
            left: 0;
        } 
    
    }
    .promo {
        min-height: 520px;
        &__title{
            font-size: 30px;
            margin-top: 180px;
        }
        &__descr {
            font-size: 12px;
            margin-bottom: 180px;
        }
    }
    .portfolio__items {
        flex-wrap: wrap;
    }
    .price {
        min-height: 350px;
        &__item {
            display: none;
        }
        &__items-min{
            margin-top: 20px;
            display: block;
        }
    }
    .contact__form{
        input, textarea {
            width: 350px;
        }
        input[type="submit"] {
            margin-left: 80px;
        }
    }
    .footer__wrapper {
        flex-wrap: wrap;
    }
    .footer__find {
        margin-top: 10px;
    }
  
}
@media (max-width:436px) {
    .navigation {
        width: 100%;
        height: 80vh;
        align-items: center;

        &__item {
            margin-right: 13px ;
            font-size: 13px ;
        }

    }
    .service {
        &__title {
            font-size: 25px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__item {
            min-width: 280px;
            img {
                margin: 23px auto;
            }
            p {
                font-size: 20px;
            }
        }
        &__descr {
            font-size: 12px;
        }
    }
    .team__items{
        justify-content: center;
        align-items: center;
    }
    .team__item {
        margin-top: 10px;
    }
    .portfolio__item {
        margin-right: 20px;
        font-size: 16px;
    }
    .portfolio__items {
        flex-wrap: wrap;
    }
    .portfolio__content_photo {
        width: 100%;
    }
    .contact__form{
        input, textarea {
            width: 230px;
        }
        input[type="submit"] {
            margin-left: 20px;
        }
    }
    
}




