.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    height: 119px;
    &__menu {
        display: none;
    }
    &__close {
        display: none;
    }
}
.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    &__item {
        margin-right: 20px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
        &:hover {
            color: $main-color;
            padding-bottom: 8px;
            border-bottom: 1.2px solid $main-color;
        }
    }
        
}