.team {
    min-height: 723px;
    &__hover{

        position: absolute;
        padding-top: 177px;
        width: 273px;
        height: 391px;
        background-color: rgba(29, 222, 133, 0.8);
        opacity: 0;
        z-index: 2;
        
    }
    &__social{
        margin-top: 90px;
        padding-left: 98px;
        padding-top: 7px;
        height: 38px;
        border-top: solid 0.5px #ffffff;
        border-bottom: solid 0.5px #ffffff;
        cursor: pointer;
        .fab {
            color: #fff;
            margin-right: 10px;
        }
    }
    &__title {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        color: #454546;
    }
    &__items {
        
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        position: relative;
        max-width: 269px;
        max-height: 355px;
        cursor: pointer;
        transition: 0.5s;
        img {
            width: 269px;
            height: 355px;
        }
        &:hover {
            transition: 0.5s;
            .team__hover{
               opacity: 1;
            }
            .team__descr {
                opacity: 0;
            }
        }
    }
    &__descr {
        padding-top: 15px;
        position: absolute;
        width: 268px;
        height: 68px;
        bottom: 0px;
        background-color: rgba(69, 69, 70, 0.94);
        z-index: 1;

    }
    &__name {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        text-align: center;
        color: #fffcf4;
    }
    &__work {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 100;
        text-align: center;
        color: #fffcf4;
    }
}